body {
  padding-top: 60px;
}

.cart-items {
  padding-bottom: 50px;
}

.cart-items .product-image>img {
  width: 90%;
}

.cart-items .product-price, .total {
  text-align: right;
}

.remove:hover {
  background-color: red;
}
